.DS_Store
node_modules/
server/src/scripts/loadtest/data/loadtest_03-01-2024.json
server/src/scripts/loadtest/data/**/*.json

keys/**/*

# no .DS_Store in any of the sub directories of the repo
**/.DS_Store

temp.log
chrome-extension/build/