<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85484920800-0v8gfdu63893tl2539sm3sjl674c16qi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85484920800-0v8gfdu63893tl2539sm3sjl674c16qi</string>
	<key>API_KEY</key>
	<string>AIzaSyCn2XYmnjiAm0BNuoDXYYoVrp1B_JSlSac</string>
	<key>GCM_SENDER_ID</key>
	<string>85484920800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pickup.www</string>
	<key>PROJECT_ID</key>
	<string>learning-dev-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-dev-ai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85484920800:ios:0e903818d39fcaf7bc9585</string>
</dict>
</plist>