.build
node_modules
.DS_Store
.env
build
yarn-error.log
dump.rdb
.cache

src/scripts/data/*
.sentryclirc
package-lock.json
txn_entries.json
report-info.json
ezpz

prod_set.sh
prod_unset.sh

.clinic
tsconfig.tsbuildinfo

set_prod.sh
unset_prod.sh